JWT_SECRET=your_actual_jwt_secret
MONGO_URI=mongodb+srv://krishna4urn_db_user:YOUR_NEW_PASSWORD@cluster0.yuh0g2n.mongodb.net/smart_hospital?appName=Cluster0
GOOGLE_SEARCH_API_KEY=your_actual_key
GOOGLE_SEARCH_ENGINE_ID=your_actual_id